
@using System.Runtime.InteropServices
@using System.IO
@using System.Diagnostics
@using ExperimentApi.Models
@model Experiment

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
.myform{
  border: 2px outset black;
  background-color: white  ;
  text-align: center;
  font-family: Arial;
  
}

.myforma {
  font-size: large;
}



</style>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Thanks for Submiting Form</title>
</head>

  <br /><br /><br /><br />
    <div class="myform" >
            <h1 class="display-4">Thank you for taking part in our experiment</h1>
            <p>We have recevied your Submission</p>
    </div>